@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #77bdb8 !important;  
} 

.search-area {
  padding-top: 2em;
}

h1 {
  color: #365e5b;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.logout-btn {
  margin-right: 5px;
}

